<!DOCTYPE html>
<html>
<head>
	<title>Mail Filter</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
    <body>
        <div class="w3-container w3-display-middle w3-myfont">
            <p class="w3-jumbo">MAIL FILTER</p>
            <p class="w3-small">Beta 1.0</p>
            <a href="{% url 'authenticate' %}" class="w3-btn w3-black"><i>LOGIN</i></a>
        </div>
    </body>
</html>