<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.w3-btn {
    margin-left:50%;
}


</style>
</head>
<body>
    <div class="w3-container w3-display-middle w3-myfont">
  <p class="w3-jumbo">MAIL FILTER</p>
<p class="w3-small">Beta 1.0</p>

  <a href="{% url 'authentication' %}" class="w3-btn w3-black"><i>LOGIN</i></a>
</div>

</body>
</html>